/* font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; 
@1100 nav bar change
@885 nav bar change*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: gray;
}

/* Body part */
body {
  background-color: #141414;
  font-family: Helvetica, sans-serif;
}

/* header part */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 2.5em;
  background: url(https://assets.nflxext.com/ffe/siteui/akira/fallback/header_gradient.png)
    repeat-x;
}

/* nav left part */
.fa-bars {
  font-size: 1.5rem;
  line-height: 2.1em;
  padding-right: 0.5em;
}
.logo {
  height: 3em;
  vertical-align: bottom;
}

/* Menu */
.menu {
  width: 250px;
  height: calc(100vh - 50px);
  background-color: #000000;
  position: absolute;
  top: 50px;
  left: 0;
  cursor: pointer;
  line-height: 2;
  overflow-y: scroll;
  font-size: 1rem;
  padding-left: 2.5em;
  transform: translateX(-100%);
  transition: all 0.15s ease;
}
.show-menu {
  transform: translateX(0);
}

::-webkit-scrollbar {
  display: none;
}
.avatar-img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

/* nav right part */
.search {
  background-color: #1b1b1b;
  border: 1px solid #ccc;
  padding: 0.25em 0.5em;
  width: 7em;
  font-size: 1rem;
}

/* main part */
main {
  padding: 0 2.5em;
}
.row h2 {
  font-size: 1.2rem;
  margin: 2em 0 0.5em 0;
}
.row-posters {
  display: flex;
  height: 200px;
  overflow-x: scroll;
}
.row-poster-div {
  width: 50vw;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
}

/* search bar size change at 500px screen size */
@media screen and (min-width: 500px) {
  .search {
    width: 12em;
  }
}
@media screen and (min-width: 841px) and (max-width: 1280px) {
}
